appdirs==1.4.3
attrs==19.3.0
backcall==0.1.0
black==19.10b0
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
decorator==4.4.2
Fiona==1.8.13.post1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-DotEnv==0.1.2
Flask-WTF==0.14.3
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==3.0.0a1
MarkupSafe==1.1.1
munch==2.5.1.dev12
parso==0.6.2
pathspec==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.4
psycopg2==2.8.4
ptyprocess==0.6.0
Pygments==2.6.1
python-dotenv==0.12.0
regex==2020.2.20
six==1.14.0
toml==0.10.0
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.1.8
Werkzeug==1.0.0
WTForms==2.2.1
