<!DOCTYPE html>
<html lang='de'>
<head>
    <title>Covid19 Ampel</title>
    <!-- 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    -->

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
h         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>

    <style>
        .dot {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }

        .red {
            background-color: red;
        }

        .yellow {
            background-color: yellow;
        }

        .green {
            background-color: green;
        }


        label:focus-within {
            outline: 2px solid orange;
        }


    </style>

</head>

<body>

<div class="container-fluid">
    <h1 class="text-center"> Die Covid19 Ampel <span>&#x1F6A6;</span> </h1>
    <div class="container">
        <div class="text-center" style="margin-bottom: 2em;">
            <img class="img-fluid" src="../static/img/icon_1.svg" alt="alt">
            <img class="img-fluid" src="../static/img/icon_2.svg" alt="alt">
        </div>
        <p class="lead text-justify text-wrap">
            Wir wollen die Hilfe der Bürger nutzen, um einen feineren Überblick
            über die Verbreitung des Corona-Virus zu bekommen und du kannst uns
            dabei helfen mit <b>lokalen Covid19-Ampel</b>.
        </p>
    </div>
    <div class="container">
        <form method="POST" action="/postcodemap">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="basic-addon1">Deine PLZ</span>
                    </div>
                    <input type="text"
                           class="form-control"
                           aria-describedby="basic-addon1"
                           name="postcode">
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="ampel-0">
                        <input class="form-check-input" type="radio"
                               name="ampel" id="ampel-0" value="red">
                        <span class="red dot"></span>: Mir wurde bestätigt, den
                        Corona Virus zu haben.
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="ampel-1">

                        <input class="form-check-input" type="radio"
                               name="ampel" id="ampel-1" value="yellow">

                        <span class="yellow dot"></span>:
                        <b>Ich fühle mich krank und habe mindestens eines der
                            folgenden Symptome:</b> Fieber, Husten,
                        Kurzatmigkeit, Halsschmerzen
                        <br>
                        <b>Weitere Symptome können auch sein:</b> Muskel-
                        /Gelenkschmerzen ,Kopfschmerzen ,Übelkeit/Erbrechen
                        ,eine verstopfte Nase ,Durchfall
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="ampel-2">
                        <input class="form-check-input" type="radio"
                               name="ampel" id="ampel-2" value="green">
                        <span class="green dot"></span>: Ich fühle mich gesund!
                    </label>
                </div>

                {{ form.csrf_token }}

                <div class="row">
                    <div class="col-md-4 col-lg-2">
                        <button type="submit"
                                class="btn btn-primary btn-block">
                            Weiter
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md d-flex">
                <div class="card text-white bg-info">
                    <div class="card-header">Was passiert hier?</div>
                    <img class=".card-img-top"
                         src={{ url_for('static', filename='img/question.svg') }}
                         alt="Fragezeichen">
                    <div class="card-body">
                        Wir benutzen die Fallzahlen der verschiedenen
                        Landkreise und Informationen aus der Bevölkerung,
                        um zu ermitteln, wie betroffen die verschiedenen
                        Gebiete in Deutschland sind. Bitte bedenkt dabei,
                        dass wir lediglich einen Überblick verschaffen,
                        aber nicht die tatsächliche Lage wiedergeben können.
                    </div>
                </div>
            </div>

            <div class="col-md d-flex">
                <div class="card text-white bg-info">
                    <div class="card-header">Du kannst uns helfen ...</div>
                    <div class="card-img-top">
                        <img class=".card-img-top"
                             src={{ url_for('static', filename='img/doctor.svg') }}
                            alt="Fragezeichen">
                    </div>
                    <div class="card-body">
                        die Lage genauer zu erfassen. Fülle dafür einfach unser
                        kurzes Formular aus und schon siehst du, wie es
                        momentan aussieht. Egal, wie dein Landkreis eingefärbt
                        ist, behalte einen ruhigen Kopf und versuche nicht, in
                        einen anderen Landkreis zu fliehen.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
