<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 5%">
<div class="bg">
    <img class="uschi" src="../static/img/icon_1.svg">
    <img class="kanye" src="../static/img/icon_2.svg">
    <p class="welcome">Wilkommen bei der</p>
    <p class="title">Lokale Covid19-Ampel</p>
    <p class="text">Wir wollen die Hilfe der Bürger nutzen, um einen feineren Überblick über die Verbreitung des
        Corona-Virus zu
        bekommen und du kannst uns dabei helfen.</p>
</div>
<div class="form">
    <form method="POST" action="/postcodemap">
        <label class="ziplabel">Deine PLZ<br>
            <input type="text" class="zipcodeinput"></label>
        <label id="redtext">Mir wurde bestätigt, den Corona Virus zu haben.</label>
        <label id="yellowtext"><b>Ich fühle mich krank und habe mindestens eines der folgenden Symptome:</b> Fieber,
            Husten, Kurzatmigkeit oder Halsschmerzen. Weitere Symptome können auch Muskel- /Gelenkschmerzen,
            Kopfschmerzen, Übelkeit/Erbrechen, eine verstopfte Nase oder Durchfall sein.</label>
        <label id="greentext">Mir wurde bestätigt, den Corona VirMir wurde bestätigt, den Corona Virus zu haben.us zu haben.</label>
    </form>
</div>

<div class="footer" style="display: table-row">
    <div class="what" style="display: table-cell">
        <img src="../static/img/question.svg" alt="Fragezeichen">
        <h2>Was passiert hier?</h2>
        <p>Wir benutzen die Fallzahlen der verschiedenen Landkreise und Informationen aus der Bevölkerung, um zu
            ermitteln, wie betroffen die verschiedenen Gebiete in Deutschland sind.
            Bitte bedenkt dabei, dass wir lediglich einen Überblick verschaffen, aber nicht die tatsächliche Lage
            wiedergeben können.</p>
    </div>
    <div class="you" style="display: table-cell">
        <img src="../static/img/doctor.svg" alt="Stethoskop">
        <h2>Du kannst uns helfen ...</h2>
        <p>die Lage genauer zu erfassen. Fülle dafür einfach unser kurzes Formular aus und schon siehst du, wie es
            momentan aussieht.
            Egal, wie dein Landkreis eingefärbt ist, behalte einen ruhigen Kopf und versuche nicht, in einen anderen
            Landkreis zu fliehen.</p>
    </div>
    <div class="aservice" style="display: table-cell">
        <img src="../static/img/logo_b.png" alt="Logo Brandseven GmbH">
        <h2>Ein Service von</h2>
        <p>die Lage genauer zu erfassen. Fülle dafür einfach unser kurzes Formular aus und schon siehst du, wie es
            momentan aussieht.
            Egal, wie dein Landkreis eingefärbt ist, behalte einen ruhigen Kopf und versuche nicht, in einen anderen
            Landkreis zu fliehen.</p>
    </div>
</div>
<div class="rechteck4"><p>© 2020 brandseven GmbH Ein Service von www.brandseven.de</p></div>
</body>
</html>
