<!DOCTYPE HTML>
<html>
<head>
    <title>Covid19 Ampel</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
    </script>
    <style>
        html, body {
            width: 99%;
            height: 98%;
            font-size: 14px;
            z-index: 0;
        }
    </style>
    <script>
        var map;
        const postcode_geojsons = {{ geojsons | safe }};

        function init() {
            console.log("HELLO");
            map = L.map('map_container').setView({{ center | safe }}, 12);
            mapLink = '<a href="https://openstreetmap.org">OpenStreetMap</a>';
            L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; ' + mapLink,
                    maxZoom: 18
                }).addTo(map);

             L.geoJSON(postcode_geojsons, {
                    style: function (feature) {
                        if (feature.properties.danger > 50) {
                            return {color: '#ff0000'};
                        } else {
                            return {color: '#00ff00'};
                        }
                    }
                }
            ).addTo(map);
        }
    </script>
</head>
<body onload="init()">
<div id="map_container"
     style="width: 100%; height: 100%; border: solid 1px"></div>
</body>
</html>
